.band {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  
  @media only screen and (min-width: 500px) {
    .band {
      grid-template-columns: 1fr 1fr;
    }  
  }
  
  @media only screen and (min-width: 850px) {
    /* .band {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .thumb {
      margin: 38px;
    } */
  }




  /* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  .band {
    grid-template-columns: 1fr;
  }
  .thumb {
    margin: 80px;
  }
  .item-1 {
    width: 390px;
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  .band {
    grid-template-columns: 1fr;
  }
  .thumb {
    margin: 80px;
  }
  .item-1 {
    width: 390px;
  }
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  .band {
    grid-template-columns: 1fr;
  }
  .thumb {
    margin: 80px;
  }
  .item-1 {
    width: 390px;
  }
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  .band {
    grid-template-columns: 1fr;
  }
  .thumb {
    margin: 80px;
  }
  .item-1 {
    width: 390px;
  }
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  .band {
    grid-template-columns: 1fr;
  }
  .thumb {
    margin: 80px;
  }
  .item-1 {
    width: 390px;
  }
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  .band {
    grid-template-columns: 1fr;
  }
  .thumb {
    margin: 80px;
  }
  .item-1 {
    width: 390px;
  }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .band {
    grid-template-columns: 1fr 1fr;
  }
  .thumb {
    margin: 48px;
  }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .band {
      grid-template-columns: 1fr 1fr;
    }
    .thumb {
      margin: 48px;
    }
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .thumb {
    margin: 38px;
  }
}




  /* @media only screen and (min-width: 350px) {
    .band {
      grid-template-columns: 1fr;
    }
  } */
  
  
  .card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }
  
  .card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  
  .card article {
    padding: 20px;
  }
  
  .card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
  
  /* typography */
  .card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  .card p { 
    line-height: 1.4;
  }
  
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
  .mission_detail {
    font-size: 10px;
    padding: 15px;
  }

  .mission_detail span {
    text-transform: capitalize;
    font-size: 10px;
    color: #6a6d92;
  }

  .mainbox {
    background-color: #95c2de;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
  }
  
    .err {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
  }
  
   .err2 {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 68%;
      top: 8%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  }