*,
*::before,
*::after {
  box-sizing: border-box; }
a {
  text-decoration: none;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; 
}
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none; 
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}
@media (min-width: 576px) {
    .container {
      max-width: 540px; 
    } 
}
@media (min-width: 768px) {
    .container {
      max-width: 720px; 
    } 
}
@media (min-width: 992px) {
    .container {
      max-width: 960px; 
    } 
}
@media (min-width: 1200px) {
    .container {
      max-width: 1140px; 
    } 
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; 
}

.col-md-8, .col-sm-10, .col-12{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; 
}

.btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 2px solid transparent;
  padding: 0.55rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  transition: all 0.2s; 
}
.btn:hover, .btn:focus {
    text-decoration: none; 
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none; 
}


.btn-primary {
  color: #11171a;
  background-color: #1de9b6;
  border-color: #1de9b6; 
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #14cc9e;
    border-color: #13c095; 
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(29, 233, 182, 0.5); 
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 1.5rem 1.25rem; 
}

.navbar-toggler {
  display: none; 
}

.py-7 {
  padding-top: 9rem !important; 
}

.my-auto, .mx-auto {
  margin-top: auto !important; 
  margin-bottom: auto !important;
}

@media (min-width: 768px) {
    .py-md-0 {
      padding-top: 0 !important; 
    }
    .py-md-0 {
      padding-bottom: 0 !important; 
    }
 }

.btn {
  text-transform: uppercase;
  font-size: 15px; 
}
.btn.btn-primary {
    box-shadow: 0 8px 16px rgba(29, 233, 182, 0.3);
    transition: all .2s ease-out; 
}
.btn.btn-primary:hover {
      box-shadow: 0 8px 20px rgba(29, 233, 182, 0.35); 
}
.btn.btn-primary:active {
      box-shadow: none !important; 
}

@media (max-width: 992px) {
  .navbar.navbar-transparent {
    background-color: rgba(0, 0, 0, 0.4); 
    }
}

.navbar .navbar-brand {
  font-size: 1rem;
  font-weight: 900;
  color: #1de9b6;
  text-transform: uppercase; 
}

.smart-scroll {
  position: fixed;
  top: 0;
  z-index: 1020;
  width: 100%;
  transition: all .3s ease-out; 
}

@media (min-width: 768px) {
  .vh-md-100 {
    height: 100vh; 
  }
}

.heading-black {
  font-weight: 800; 
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-size: 2rem;
}
    
.text-right {
  text-align: left;
}
