<section class="smart-scroll">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand heading-black" href="/">
                SpaceX Launch Programs
            </a>
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span data-feather="grid"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            </div>
        </nav>
    </div>
</section>
<div class="container">
    <section class="py-7 py-md-0 bg-hero" id="home">
        <div class="container">
            <div class="row vh-md-100">
                <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-left">
                    <h1 class="heading-black text-capitalize">PS - XT Coding Assignment</h1>
                    <p class="lead py-3">This is homepage please click below to list and browse all
                        launches by SpaceX program.</p>
                    <a href="/info" class="btn btn-primary d-inline-flex flex-row align-items-center">
                        Get launch info
                        <em class="ml-2" data-feather="arrow-right"></em>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>