.mainbox {
    padding: 10px;
    margin: auto;
    height: 600px;
    width: 100%;
    position: relative;
    text-align: center;
    background-color: black;
    /* background: url('https://static.wixstatic.com/media/018d49_5f33cea5cf6b4ffa8a139a87e2a8d747~mv2.gif'); */
}
.err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 8rem;
    top: 10%;
}
.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}
