<div style="background:#dbd7d7;">
    <div class="container" style="padding-top: 65px;">
        <div class="support-grid"></div>
        <div class="row">
            <div class="col-sm-3">
                <div class="item-1" style="padding-bottom: 10px;">
                    <div class="card">
                        <article>
                            <h6 style="margin: 10px; color: black;"><b>Filter</b></h6>
                            <app-filters [hero]="LaunchYear"></app-filters>
                            <app-filters [hero]="LaunchSuccess"></app-filters>
                            <app-filters [hero]="LandSuccess"></app-filters>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <app-cards *ngIf="aa" [cards]="aa.body"></app-cards>
            </div>
        </div>
    </div>

</div>