<div style="background:#dbd7d7; width: 105.2%;">
    <div class="container" style="padding-top: 65px;">
        <div class="support-grid"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="item-1" style="padding-bottom: 10px;">
                    <div class="card">
                        <h6 style="margin: 10px; color: black; overflow: hidden;"><b>Filters</b></h6>
                        <app-filters [filter]="LaunchYear" (valueChange)='updateQuery($event)'></app-filters>
                        <app-filters [filter]="LaunchSuccess" (valueChange)='updateQuery($event)'></app-filters>
                        <app-filters [filter]="LandSuccess" (valueChange)='updateQuery($event)'></app-filters>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="item-1" style="padding-bottom: 10px;">
                    <div class="card" style="padding: 15px;">
                        <app-cards *ngIf="Response?.isDataPresent; else elseBlock" [cards]="Response"></app-cards>
                        <ng-template #elseBlock>
                            <div class="container">
                                <div class="mainbox">
                                    <div>
                                        <div *ngIf="!queryMade" class="err">204</div>
                                        <div *ngIf="queryMade" class="err">Loading...</div>
                                        <div *ngIf="!queryMade" class="msg">No Content. Maybe no result for query
                                            launch_success : {{launchQuery.launch_success}}, land_success : {{launchQuery.land_success}}, launch_year : {{launchQuery.launch_year}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
